<%- include ('header') -%>

<h1><%= title %></h1>
<h2>Viðburðir á næstunni</h2>

<ul>
    <li><a href="/event">Forritarahittingur í febrúar</a></li>
    <li><a href="event.ejs">Hönnuðahittingur í mars</a></li>
    <li><a href="event.ejs">Verkefnastjórahittingur í apríl</a></li>
</ul>

<p><a href="/login">Innskráning stjórnanda</a></p>

<%- include ('footer') -%>