<%- include ('header') -%>

<h1><%= title %></h1>

<label for="user"><Username>Notendanafn: </label>
    <input type="username" name="uname" required>

<label for="pass"><Password>Lykilorð: </label>
    <input type="password" name="pass" required>

<button type="submit" name="login" class="btn btn-primary">Innskrá</button>





<p><a href="/">Til baka</a></p>

<%- include ('footer') -%>